@import url('../../../theme-chalk/mixins/font.less');
@import url('../../../theme-chalk/mixins/variable.less');

.n-icon {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: var(--icon-size-xs);
	font-style: normal;
	user-select: none;

	.n-icon__svg {
		width: var(--icon-size-xs);
		height: var(--icon-size-xs);
		object-fit: cover;

		.svg-content {
			position: relative;
		}
	}

	.n-icon__badge {
		position: absolute;
		min-width: var(--badge-dot-size);
		min-height: var(--badge-dot-size);
		padding: var(--badge-padding);
		box-sizing: border-box;
		background-color: var(--badge-dot-color);
		color: var(--badge-dot-text-color);
		font-size: var(--font-size-sm);
		text-align: center;
		line-height: 1.2;
		border-radius: 999999999px;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
	}
}