@import url('../../../theme-chalk/mixins/variable.less');
@import url('../../../theme-chalk/mixins/common.less');

.n-tabs {
    position: relative;
    width: 100%;
    overflow: hidden;

    &--vertical {
        display: flex;
    }

    .n-tabs-nav {
        position: relative;
        width: 100%;
        display: flex;
        overflow: hidden;
        z-index: 1;

        &--vertical {
            display: block;
        }

        &--scroll {
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &--animated {
            scroll-behavior: smooth;
        }

        .n-tabs-nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 auto;
            width: 0;
            min-width: 54px;
            height: 44px;
            padding: 0 12px;
            font-size: var(--font-size-sm);
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            color: var(--color-tint);

            &--active {
                color: var(--color-primary);
            }

            &--disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            .n-tabs-nav-item__badge {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;

                .n-badge-content {
                    padding: 1px 5px;

                    &.n-badge__dot {
                        padding: 0 !important;
                    }
                }
            }
        }

        &__line {
            position: absolute;
            background: var(--color-primary);
        }

        &__line--animated {
            transition: all 0.2s ease 0.1s;
        }
    }

    .n-tabs-scroll__wrapper {
        position: relative;
        display: flex;
        transition-property: transform;

        &--vertical {
            display: block;
        }

        .n-tabs-wrapper__item {
            overflow: hidden;
        }
    }
}